@font-face {
    font-family: 'HyundaiSansHeadKR';
    src: url('../font/HyundaiSansHeadKR-Light.woff2') format('woff2'),
         url('../font/HyundaiSansHeadKR-Light.woff') format('woff'),
         url('../font/HyundaiSansHeadKR-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'HyundaiSansHeadKR';
    src: url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Regular.woff2') format('woff2'),
         url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Regular.woff') format('woff'),
         url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'HyundaiSansHeadKR';
    src: url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Medium.woff2') format('woff2'),
         url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Medium.woff') format('woff'),
         url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'HyundaiSansHeadKR';
    src: url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Bold.woff2') format('woff2'),
         url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Bold.woff') format('woff'),
         url('../font/HyundaiSansTextKR/HyundaiSansHeadKR-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'HyundaiSansTextKR';
    src: url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Regular.woff2') format('woff2'),
         url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Regular.woff') format('woff'),
         url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'HyundaiSansTextKR';
    src: url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Medium.woff2') format('woff2'),
         url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Medium.woff') format('woff'),
         url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'HyundaiSansTextKR';
    src: url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Bold.woff2') format('woff2'),
         url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Bold.woff') format('woff'),
         url('../font/HyundaiSansTextKR/HyundaiSansTextKR-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}